/*secret page and orderpage css*/

.iimg {
    width: 100%;
    height: 250px;
    margin: auto;
    display: flex;
}

.h1-h {
    margin-top: 3rem;
}

p {
    padding: .5rem;
}

.select1 {
    width: 48%;
    float: left;
    border: solid rgb(85, 84, 84);
    padding: .3rem;
    border-radius: 6px;
}

.opt {
    display: block;
    width: 90%;
    margin: auto;
}

.select2 {
    width: 48%;
    float: right;
    border: solid rgb(85, 84, 84);
    padding: .3rem;
    border-radius: 6px;
}


.row {
    width: 98%;
    margin: auto;
}

.con1 {
    width: 90%;
    margin-bottom: 12rem;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(231, 231, 149);
    box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
    padding-bottom: 9rem;
}

.boody {
    margin-top: 5rem;
}

.h3-p {
    margin-left: 1rem;
    padding: .5rem;
}

.h4 {
    display: block;
    float: left;
    margin-top: 1.5rem;
}

.h4v {
    font-size: 1.3rem;
}

.buttnn {
    float: right;
    width: 50%;
    margin-top: 1.3rem;
    padding: .35rem;
    border-radius: 6px;
    background-color: green;
    color: white;
    border: red;
}

.buttnn:hover {
    background-color: red;
    transition-duration: 1s;
}

@media only screen and (min-width:1240px) and (max-width: 1380px) {
    .iimg {
        width: 100%;
        height: 250px;
        margin: auto;
        display: flex;
    }

    .con1 {
        width: 100%;
        margin-bottom: 12rem;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(231, 231, 149);
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
        padding-bottom: 9rem;
    }
}

@media only screen and (min-width:1150px) and (max-width: 1240px) {
    .iimg {
        width: 100%;
        height: 250px;
        margin: auto;
        display: flex;
    }

    .con1 {
        width: 100%;
        margin-bottom: 12rem;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(231, 231, 149);
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
        padding-bottom: 9rem;
    }

    .row {
        width: 100%;
        margin: auto;
    }

    .h4 {
        display: block;
        float: left;
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width:1000px) and (max-width: 1150px) {
    .iimg {
        width: 100%;
        height: 210px;
        margin: auto;
        display: flex;
    }

    .con1 {
        width: 100%;
        margin-bottom: 12rem;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(231, 231, 149);
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
        padding-bottom: 9rem;
    }

    .row {
        width: 100%;
        margin: auto;
    }

    .h4 {
        display: block;
        float: left;
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }

    .h3-p {
        margin-left: 1rem;
        padding: .5rem;
        font-size: 1.5rem;
    }

    .h4v {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width:905px) and (max-width: 1000px) {
    .iimg {
        width: 100%;
        height: 180px;
        margin: auto;
        display: flex;
    }

    .con1 {
        width: 100%;
        margin-bottom: 12rem;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(231, 231, 149);
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
        padding-bottom: 9rem;
    }

    .row {
        width: 100%;
        margin: auto;
    }

    .h4 {
        display: block;
        float: left;
        font-size: 1.1rem;
        margin-top: 1.5rem;
    }

    .h3-p {
        margin-left: 1rem;
        padding: .5rem;
        font-size: 1.3rem;
    }

    .h4v {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width:767px) and (max-width: 905px) {
    .iimg {
        width: 100%;
        height: 150px;
        margin: auto;
        display: flex;
    }

    .con1 {
        width: 100%;
        margin-bottom: 12rem;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(231, 231, 149);
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
        padding-bottom: 9rem;
    }

    .row {
        width: 100%;
        margin: auto;
    }

    .h4 {
        display: block;
        float: left;
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    .h3-p {
        margin-left: 1rem;
        padding: .5rem;
        font-size: 1.1rem;
    }

    .h4v {
        font-size: 1rem;
    }

    .buttnn {
        float: right;
        width: 40%;
        font-size: .8rem;
        margin-top: 1.3rem;
        padding: .35rem;
        border-radius: 6px;
        background-color: green;
        color: white;
        border: red;
    }
}




@media only screen and (min-width:570px) and (max-width: 767px) {
    .iimg {
        width: 100%;
        height: 320px;
        margin: auto;
        display: flex;
    }

    .con1 {
        width: 80%;
        margin-bottom: 12rem;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(231, 231, 149);
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
        padding-bottom: 9rem;
    }

    .row {
        width: 100%;
        margin: auto;
    }

    .h4 {
        display: block;
        float: left;
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .h3-p {
        margin-left: 1rem;
        padding: .5rem;
        font-size: 1.5rem;
    }

    .h4v {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width:450px) and (max-width: 570px) {
    .iimg {
        width: 100%;
        height: 250px;
        margin: auto;
        display: flex;
    }

    .con1 {
        width: 90%;
        margin-bottom: 12rem;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(231, 231, 149);
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
        padding-bottom: 9rem;
    }

    .row {
        width: 100%;
        margin: auto;
    }

    .h4 {
        display: block;
        float: left;
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .h3-p {
        margin-left: 1rem;
        padding: .5rem;
        font-size: 1.5rem;
    }

    .h4v {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width:340px) and (max-width: 450px) {
    .iimg {
        width: 100%;
        height: 230px;
        margin: auto;
        display: flex;
    }

    .con1 {
        width: 95%;
        margin-bottom: 12rem;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(231, 231, 149);
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
        padding-bottom: 9rem;
    }

    .row {
        width: 100%;
        margin: auto;
    }

    .h4 {
        display: block;
        float: left;
        font-size: 1.3rem;
        margin-top: 1.5rem;
    }

    .h3-p {
        margin-left: 1rem;
        padding: .5rem;
        font-size: 1.4rem;
    }

    .h4v {
        font-size: 1.2rem;
    }

    .buttnn {
        float: right;
        width: 40%;
        margin-top: 1.3rem;
        padding: .35rem;
        border-radius: 6px;
        background-color: green;
        color: white;
        border: red;
    }
}

@media only screen and (min-width:100px) and (max-width: 340px) {
    .iimg {
        width: 100%;
        height: 160px;
        margin: auto;
        display: flex;
    }

    .con1 {
        width: 100%;
        margin-bottom: 12rem;
        margin: auto;
        border-radius: 15px;
        background-color: rgb(231, 231, 149);
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.3);
        padding-bottom: 9rem;
    }

    .row {
        width: 100%;
        margin: auto;
    }

    .h4 {
        display: block;
        float: left;
        font-size: .9rem;
        margin-top: 1.5rem;
    }

    .h3-p {
        margin-left: 1rem;
        padding: .4rem;
        font-size: 1.1rem;
    }

    .h4v {
        font-size: 1rem;
    }

    .buttnn {
        float: right;
        width: 40%;
        font-size: .7rem;
        margin-top: 1.3rem;
        padding: .2rem;
        border-radius: 6px;
        background-color: green;
        color: white;
        border: red;
    }
}

/*signup page css*/


.container-s {
    box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.4);
    width: 74%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    border-radius: 25px;
    margin-bottom: 3rem;
    height: 35rem;
}

.first-half {
    width: 50%;
    float: left;
    margin: auto;
    border-radius: 25px;
}

.second-half {
    width: 50%;
    float: right;
    margin: auto;
}

.inpp-div {
    background-color: white;
    margin: 1.5rem;
    width: 55%;
    display: flex;
    padding: .32rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

input {
    margin-left: .5rem;
    padding: .14rem .5rem;
    float: right;
    margin: auto;
    width: 85%;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.logi {
    width: 10%;
    height: 10%;
    margin: auto auto auto .6rem;
}

.button-r {
    background-color: rgb(158, 33, 33);
    margin: 2.5rem;
    width: 35%;
    display: flex;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.tt {
    width: 100%;
    padding: 0.3rem;
    border: none;
    color: white;
    background-color: red;
    font-size: 1.4rem;
    border-radius: 15px;
}

.tt:hover {
    background-color: green;
    transition-duration: 1s;
}

.image-s {
    width: 80%;
    height: auto;
    margin: auto;
}

h5 {
    text-align: center;
    margin: 1rem;
}

.h1-s {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

@media only screen and (min-width:988px) and (max-width: 1130px) {
    .container-s {
        width: 80%;
    }

}

@media only screen and (min-width:800px) and (max-width: 988px) {
    .container-s {
        width: 95%;
        height: 34rem;
    }

}

@media only screen and (min-width:600px) and (max-width: 800px) {
    .container-s {
        width: 86%;
        height: auto;
        display: block;
        box-shadow: 0px 0px 0px 0px;
    }

    .first-half {
        width: 100%;
        margin: auto;
        border-radius: 25px;
    }

    .second-half {
        width: 100%;

        margin: auto;
        margin-top: 2rem;
    }

    .image-s {
        width: 70%;
        margin-left: 5rem;
    }
}

@media only screen and (min-width:460px) and (max-width: 600px) {
    .container-s {
        width: 86%;
        height: auto;
        display: block;
        box-shadow: 0px 0px 0px 0px;
    }

    .first-half {
        width: 100%;
        margin: auto;
        border-radius: 25px;
    }

    .second-half {
        width: 100%;
        margin: auto;
        margin-top: 2rem;
    }

    .image-s {
        width: 70%;
        margin-left: 5rem;
    }

    .inpp-div {
        background-color: white;
        margin: 1.5rem;
        width: 83%;
        display: flex;
        padding: .5rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }

    input {
        margin-left: .5rem;
        padding: .14rem .5rem;
        float: right;
        margin: auto;
        width: 85%;
        border: none;
        outline: none;
        font-size: 1.2rem;
    }

    .logi {
        width: 10%;
        height: 10%;
        margin: auto auto auto .6rem;
    }

    .button-r {
        background-color: red;
        margin: 2.8rem;
        width: 80%;
        display: flex;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;

    }

    .tt {
        width: 100%;
        padding: 0.3rem;
        border: none;
        color: white;
        background-color: red;
        font-size: 1.4rem;
        border-radius: 15px;
    }
}

@media only screen and (min-width:350px) and (max-width: 460px) {
    .container-s {
        width: 96%;
        height: auto;
        display: block;

        box-shadow: 0px 0px 0px 0px;
    }

    .first-half {
        width: 100%;
        margin: auto;
        border-radius: 25px;
    }

    .second-half {
        width: 100%;
        margin: auto;
        margin-top: 2rem;
    }

    .image-s {
        width: 70%;
        margin-left: 3.5rem;
    }

    .inpp-div {
        background-color: white;
        margin: 1.5rem;
        width: 83%;
        display: flex;
        padding: .5rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
    }

    input {
        margin-left: .5rem;
        padding: .14rem .5rem;
        float: right;
        margin: auto;
        width: 85%;
        border: none;
        outline: none;
        font-size: 1.2rem;
    }

    .logi {
        width: 10%;
        height: 10%;
        margin: auto auto auto .6rem;
    }

    .button-r {
        background-color: red;
        margin: 2.8rem;
        width: 80%;
        display: flex;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;

    }

    .tt {
        width: 100%;
        padding: 0.3rem;
        border: none;
        color: white;
        background-color: red;
        font-size: 1.4rem;
        border-radius: 15px;
    }
}

/*myorder page */

.tablecon {
    width: 90%;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.4);
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 0 1rem 1rem 1rem;
    background-color: rgb(243, 243, 119);
}

table {
    width: 100%;
}

th {
    padding: 1.5rem;
    width: 0%;
    margin: auto;
    color: red;
    border-bottom: solid green;
    font-size: 1.6rem;
}

td {
    padding: .8rem 1.5rem;
    margin: auto;
    font-size: 1.07rem;
    border-bottom: solid green;
}

@media only screen and (min-width:850px) and (max-width: 1100px) {
    .tablecon {
        width: 100%;
        border-radius: 0px;
        margin: auto;
        box-shadow: 0px 0px 0px 0px rgba(246, 68, 9, 0.4);
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 0 1rem 1rem 1rem;
        background-color: rgb(243, 243, 119);
    }

    th {
        padding: 1.5rem;
        width: 0%;
        margin: auto;
        color: red;
        border-bottom: solid green;
        font-size: 1.6rem;
    }

    td {
        padding: .8rem 1.5rem;
        margin: auto;
        font-size: 1.07rem;
        border-bottom: solid green;
    }
}

@media only screen and (min-width:630px) and (max-width: 850px) {
    .tablecon {
        width: 100%;
        border-radius: 0px;
        margin: auto;
        box-shadow: 0px 0px 0px 0px rgba(246, 68, 9, 0.4);
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 0 1rem 1rem 1rem;
        background-color: rgb(243, 243, 119);
    }

    th {
        padding: 1rem;
        margin: auto;
        color: red;
        border-bottom: solid green;
        font-size: 1.2rem;
    }

    td {
        padding: .9rem 1rem;
        margin: auto;
        font-size: 1rem;
        border-bottom: solid green;
    }
}

@media only screen and (min-width:540px) and (max-width: 630px) {
    .tablecon {
        width: 100%;
        border-radius: 0px;
        margin: auto;
        box-shadow: 0px 0px 0px 0px rgba(246, 68, 9, 0.4);
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 0 .5rem .5rem .5rem;
        background-color: rgb(243, 243, 119);
    }

    th {
        padding: .5rem;
        margin: auto;
        color: red;
        border-bottom: solid green;
        font-size: 1.2rem;
    }

    td {
        padding: .9rem 1rem;
        margin: auto;
        font-size: 1rem;
        border-bottom: solid green;
    }
}

@media only screen and (min-width:365px) and (max-width: 540px) {
    .tablecon {
        width: 100%;
        border-radius: 0px;
        margin: auto;
        box-shadow: 0px 0px 0px 0px rgba(246, 68, 9, 0.4);
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 0rem;
        background-color: rgb(243, 243, 119);
    }

    th {
        padding: .4rem;
        margin: auto;
        color: red;
        border-bottom: solid green;
        font-size: .8rem;
    }

    td {
        padding: .9rem .3rem;
        margin: auto;
        font-size: .8rem;
        border-bottom: solid green;
    }
}

@media only screen and (min-width:254px) and (max-width: 365px) {
    .tablecon {
        width: 100%;
        border-radius: 0px;
        margin: auto;
        box-shadow: 0px 0px 0px 0px rgba(246, 68, 9, 0.4);
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 0rem;
        background-color: rgb(243, 243, 119);
    }

    th {
        padding: .2rem;
        margin: auto;
        color: red;
        border-bottom: solid green;
        font-size: .6rem;
    }

    td {
        padding: .5rem .2rem;
        margin: auto;
        font-size: .6rem;
        border-bottom: solid green;
    }
}

/*cart page css*/

.cartdiv {
    padding-bottom: .1rem;
    width: 90%;
    background-color: rgb(231, 231, 149);

    border-radius: 16px;
    box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.4);
    margin: auto;
}

.cartitem {
    width: 60%;
    padding: 1rem;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 14px rgba(0, 0, 0, 0.4);
    background-color: rgb(231, 231, 149);

    margin: 4rem auto;
}

.cart1 {
    width: 48%;
    margin: auto;
}

.cart2 {
    width: 35%;
    margin: 0 auto;

}

.iimgg {
    width: 100%;
}

.cartb {
    float: right;
    background-color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.cartb:hover {
    background-color: green;
    transition-duration: 1s;
}

@media only screen and (min-width:600px) and (max-width: 767px) {

    .cartdiv {
        padding-bottom: .1rem;
        width: 98%;
        background-color: rgb(231, 231, 149);
        border-radius: 16px;
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.4);
        margin: auto;
    }

    .cartitem {
        width: 95%;
        padding: 1rem;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 14px rgba(0, 0, 0, 0.4);
        background-color: rgb(231, 231, 149);

        margin: 4rem auto;
    } 
}

@media only screen and (min-width:400px) and (max-width: 600px) {

    .cartdiv {
        padding-bottom: .1rem;
        width: 98%;
        background-color: rgb(231, 231, 149);
        border-radius: 16px;
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.4);
        margin: auto;
    }

    .cartitem {
        width: 95%;
        padding: 1rem;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 14px rgba(0, 0, 0, 0.4);
        background-color: rgb(231, 231, 149);

        margin: 4rem auto;
    } 
    .h4-c{
        font-size: 1.2rem;
    }
    .cartb {
        float: right;
        font-size: .9rem;
        background-color: red;
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
        color: white;
    }
}
@media only screen and (min-width:100px) and (max-width: 400px) {

    .cartdiv {
        padding-bottom: .1rem;
        width: 98%;
        background-color: rgb(231, 231, 149);
        border-radius: 16px;
        box-shadow: 0px 0px 25px 15px rgba(246, 68, 9, 0.4);
        margin: auto;
    }

    .cartitem {
        width: 95%;
        padding: 1rem;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 14px rgba(0, 0, 0, 0.4);
        background-color: rgb(231, 231, 149);

        margin: 4rem auto;
    } 
    .h4-c{
        font-size: .8rem;
    }
    .cartb {
        float: right;
        font-size: .7rem;
        background-color: red;
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
        color: white;
    }
}
/* home page css*/


.container-h {
    width: 100%;
    padding: 8rem 1rem;
    display: flex;
}

.first-h {
    width: 50%;
    margin: auto;
}

.second-h {
    width: 50%;
    margin: auto;
}

.h11 {
    font-size: 3.5rem;
}

.h33 {
    display: block;
    margin-top: -1rem;
    margin-left: 3rem;
}

.ppp {
    margin-left: -5px;
}

.con-h {
    width: 75%;
    margin: auto;
}

.carth {
    background-color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.carth:hover {
    background-color: green;
    transition-duration: 1s;
}

@media only screen and (min-width:200px) and (max-width: 800px) {

    .container-h {
        width: 100%;
        display: block;
        padding: 8rem 1rem;
    }

    .second-h {
        width: 100%;
        margin-top: 5rem;
    }

    .first-h {
        width: 100%;
        margin-top: -2rem;
    }

    .con-h {
        width: 95%;
        margin: auto;

    }

}

/*navbar nav css*/
.navbar-nav {
    width: 50%;

    margin-left: 10rem;
}

.linkk {
    margin: auto;
}

.homimg {
    width: 100%;
}

.navbar {
    background-color: orange;
}
.navbar-brand{
    font-family:  monospace;
}
body {
    background-color: orange;
}

@media only screen and (min-width:988px) and (max-width: 1250px) {
    .navbar-nav {
        width: 60%;

        margin-left: 10rem;
    }

}